*{
    margin: 0%;
    padding: 0%;
    background-color: darkgrey;
    text-align: center;
    border: 10cap, palegreen;
}
h1{
    text-align: center;
    background: fixed;
    background-color: aqua;
}